.App {
      text-align: center;
      overflow:none;
      display:block;
      max-height:100vh;
      max-width:100vw;
  
      overflow-x: hidden;
      overflow-y: hidden;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    width:100%;
}
@media screen and (orientation:portrait)
{
    .content-pane {
    
    grid-template-columns: 30vw 70vw;
    height:93vh;
    display: grid;
    overflow: none;
    }
    .header {
        width:100vw;
        height:7vh;
    }
    .search-view {
        grid-column: 1 / span 2;
        
    }
    .info-tab {
        grid-column: 1 / 2;
       // height:
    }
    .list-view {
        grid-column: 1 / 1 ;
        grid-row: 2 /   2;
        height:70vw vh;
        
         
    }
    list-view-split {
        grid-column: 1 / 1 ;
        grid-row: 2 /   2;
        height:70vw vh;
        overflow-y:none;
        
    }
    
    poi-select
    {
        
    }
    list-view-poi
    {
        overflow-y: auto;
    }
    .info-view {
       
           grid-column: 1 / span 2;
           height:30vh;
      
    }
    .info-view-grid {
        height:30vh;
        width:100vw;
    
        display:grid;
        grid-template-columns:auto;
    }
    .map-view {
        grid-column: 2    ;
        grid-row: 2;
        height:50vh;
        padding-left:8px;
        margin-left:8px;
        
    }
    .status-view {
        grid-row: 4;
        grid-column: 1 / span 2;
        height: 6vh;
    }
    .content-pane div {
        
        border: 0px solid #aaa;
    }
}
    @media screen and (orientation:landscape)
{
    .content-pane
    {
        
        grid-template-columns: 20vw 40vw 40vw;
        
    }
}

.selected-item
{
    background-color:#555;
    color:white;
}
.poi-view
{
    background-color: #aaaa;
    margin: 0;
    list-style: none;
    float: left;
    text-align:left;
    overflow-y: scroll;
    max-height:43vh;
    height:100%;
    
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
